.notifications {
  background-color: #606c38;
  color: #fefae0;
  font-weight: bold;
  font-size: larger;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 8vh;
}

.log {
  max-height: 51px;
  vertical-align: middle;
}

.logCounter {
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  color: #283618;
  padding-bottom: 10vh;
}

.h3 {
  background-color: yellowgreen;
}

.alerts {
  vertical-align: bottom;
  background-color: #fefae0;
  height: 15vh;
}

.balance {
  margin-top: 0px;
}

.appBody {
  height: 92vh;
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.actions {
  text-align: center;
  margin: 0 auto;
  display: block;
  
}

.actions img {
  vertical-align: middle;
  max-height: 4vh;
}

.actions button {
  background-color: #606c38; /* Green background */
  border: 1px solid #283618; /* Green border */
  color: #fefae0; /* White text */
  font-weight: bold;
  font-size: large;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  max-width: 100vw;
  width: 500px;
  height: 8vh;

  display: block; /* Make the buttons appear below each other */

}